[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
docopt = "*"
flask = "*"
flask-restful = "*"
apscheduler = "*"


[requires]

python_version = "3.5"


[dev-packages]

prospector = "*"
pytest-flask = "*"
pytest-mock = "*"
pytest-cov = "*"
responses = "*"
