<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>

    <script>
      var contactsUrl = '{{ url_for("api.contacts", node_id="") }}';
    </script>
    <script type=text/javascript src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
    {% block js %}{% endblock %}
</body>
</html>
