<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>

    <script type=text/javascript src="{{ url_for('static', filename='js/vue.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/vue-resource.min.js') }}"></script>
    {% block js %}{% endblock %}
</body>
</html>
