{% extends "base.html" %}
{% block title %}Storj Monitor{% endblock %}

{% block content %}
<div id="nodeSetting" class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <form>
      <div class="form-group">
        <label for="nodeId">Node ID</label>
        <input type="text" class="form-control" v-model="nodeId" placeholder="Enter Node ID">
      </div>
      <div>
        <span v-if="errorMessage" class="error text-danger">[[ errorMessage ]]</span>
      </div>
      <button v-on:click="getInfo" type="button" class="btn btn-primary">Update</button>
    </form>
  </div>
  <div class="col-md-4">
  </div>
</div>
<div id="infoDisplay" class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <table class="table">
      <tbody>
        <tr is="info-item"
          v-for="(value, attribute, index) in info"
          v-bind:key="index"
          v-bind:attribute="attribute"
          v-bind:value="value">
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
  </div>
</div>
{% endblock %}

{% block js %}
<script>
var contactsUrl = '{{ url_for("api.contacts", node_id="") }}';
</script>
<script type=text/javascript src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
{% endblock %}
