{% extends "base.html" %}
{% block title %}Storj Monitor{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <form>
      <div class="form-group">
        <label for="nodeId">Node ID</label>
        <input type="text" class="form-control" id="nodeId" placeholder="Enter Node ID">
      </div>
      <div>
        <span id="errorMessage" class="error text-danger hidden"></span>
      </div>
      <button id="updateButton" type="button" class="btn btn-primary">Update</button>
    </form>
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4">
    <table class="table">
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="col-md-4">
  </div>
</div>
{% endblock %}

{% block js %}
<script>
  function updateData() {
    var $tbody = $('table tbody');
    $tbody.empty();

    $.get('/api/v1/contacts/' + $('#nodeId').val(), function (result) {
      $('#errorMessage').hide();
      $.each(result, function (key, value) {
        $tbody.append('<tr><td>' + key + '</td><td>' + value + '</td></tr>');
      });
    }).fail(function (error) {
      $('#errorMessage').text(error.responseText);
      $('#errorMessage').show();
    });
  }

  $(document).ready(function() {
    $('#updateButton').click(updateData);
  });
</script>
{% endblock %}
